<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120916536356-dd3m5k189g49thb2rqmdjvukvv4hqbqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120916536356-dd3m5k189g49thb2rqmdjvukvv4hqbqn</string>
	<key>API_KEY</key>
	<string>AIzaSyDecPC-ACzpSrjmu0zcF-7XsgK3Ac35fjY</string>
	<key>GCM_SENDER_ID</key>
	<string>120916536356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AndrewBeshay.ARK</string>
	<key>PROJECT_ID</key>
	<string>flashy-852cf</string>
	<key>STORAGE_BUCKET</key>
	<string>flashy-852cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120916536356:ios:2e995a62b97914d2acbcb1</string>
</dict>
</plist>